body{
    text-align: center;
    margin-right: 200px;
    margin-left: 200px;
    font-family:monospace;
}

input{
    margin-bottom: 10px;
    text-align: center;
}

label{
    margin-right: 5px;  
}
#selectorContainerDiv{
    margin-bottom: 10px;
}
button{
    margin-bottom: 10px;
}
#cardsContainerDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

}
#pokemonInfoHolderDiv{
    height: 300px;
    width: 200px;
    align-items: center;
    margin: 40px 30px 40px 30px;
    padding: 40px 20px 40px 20px;
    transition: width 0.7s ease, height 0.7s ease, background-color 0.7s ease;



}
#pokemonInfoHolderDiv:hover{
    cursor: pointer;
    width: 210px;
    height: 330px;
    background-color: rgb(235, 244, 247);
    
}
#pokemonImage{
    margin-bottom: 20px;
}
#pokemonName{
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 900;
}
#abilitiesLabel{
    color: red;
}
button{
    padding: 7px 20px 7px 20px;
    font-size: 18px;
    background-color: rgb(40, 176, 255);
    color: white;
    border-style: none;
    border-radius: 4px;;
}
button:hover{
    cursor: pointer;
    background-color: rgb(86, 191, 252);
}